.git
.gitignore
node_modules
**/node_modules
**/dist
apps/*/dist
**/.next
.next
**/coverage
reports
*.log
.env
.env.*
!.env.example
Dockerfile*
docker-compose*.yaml
docker-compose*.yml
.github
.idea
.vscode
*.md
tests
**/tests
